#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-holder {
  width: 8vw;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.scoreboard {
  width: 12vw;
  margin: 4rem;
}

dialog {
  border: none;
  border-top: 1px solid rgb(116, 116, 116);
  background-color: rgb(61, 61, 61);
  border-radius: 5px;
  box-shadow: 4px 16px 12px 6px black;
  margin-bottom: 50px;
}
